<footer class="page-footer grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h3 class="white-text">JsBlogs</h3>
        <p class="grey-text text-lighten-4">Blogs on JavaScript, Node.js and your web dev tools</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/blogs">Blogs</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 
      <span id="copyright">
        <script>document.write(new Date().getFullYear())</script>
      </span> 
      Nimesh Nayaju
    </div>
  </div>
</footer>