@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Hind');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Hind', sans-serif;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

.footer {
  margin-top: 20px;
}


h3 {
  font-family: 'Gentium Basic', serif;
}

p {
  font-size: 18px;
}

.blog-body {
  height: 120px;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}