@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Hind');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Hind', sans-serif;
}

main {
  flex: 1 0 auto;
}

.nav-header {
  background: #fff;
  font-size: 16px;
  box-shadow: none;
}

.nav-header .brand-logo {
  color: rgba(0,0,0,.84);
  font-weight: 700;
}

.nav-header li a {
  color: rgba(0,0,0,.54);
}

.sidenav-trigger {
  color: rgba(0,0,0,.84);
}

.nav-header li a:hover {
  background-color: transparent;
  color: rgba(0,0,0,.84);
  transition: .1s background-color,.1s border-color,.1s color,.1s fill;
}

.nav-bordered {
  border: 1px solid rgba(0,0,0,.60);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: 700;
  color: rgba(0,0,0,.70) !important;
  line-height: 32px;
  position: relative;
  margin-top: 16px;
}

.nav-bordered:hover {
  border: 1px solid rgba(0,0,0,.84);
  color: rgba(0,0,0,.84) !important;
}


.nav-wrapper .fa-bars {
  font-size: 25px;
}

.footer {
  margin-top: 20px;
}


h3 {
  font-family: 'Gentium Basic', serif;
}

p {
  font-size: 18px;
}

.blog-body {
  height: 120px;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

.user-avatar {
  width: 45px;
  vertical-align: middle;
}

.show-title {
  word-break: break-all;
  height: 50px;
}
